<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    

    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">

</head>
<body>

  {% include 'defaults/header.html' %}   
    <div class="container">

        <h1>Nuestro Staff</h1>


        <div class="card border-dark mb-3">
            <div class="card-header">
                <span class="fst-italic">
                    {{data.puesto}}
                </span>
            </div>
            <div class="card-body text-dark">
              <h5 class="card-title fw-bold">{{data.nombre}}</h5>
              <p class="card-text">
                <a href="{{data.linkedin}}" target="_blank"><i class="bi bi-linkedin"></i></a>
                <a href="mailto:{{data.email}}"><i class="bi bi-envelope-fill"></i></a>
              </p>
            </div>
          </div>
        
        <a href="/personas" class="btn btn-primary"><i class="bi bi-chevron-left"></i> volver</a>
    </div>

    {% include 'defaults/footer.html' %}
    {% include 'defaults/scripts.html' %}
</body>
</html>